.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background-image: url(../images/header-block.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}

.active {
  color: #D66926;
}

.bg-gray {
  background-color: #E5E5E5;
}

.bg-darkblue {
  background-color: #2D3651;
}

.mobile-navigation {
  display: none;
}

.section1-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section1-logo {
  transform: translateX(-100px);
  animation: hiden1 2s ease forwards;
}

@keyframes hiden1 {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.header-nav-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.header-nav-description :nth-child(1) {
  transform: translateY(100px);
  animation: hiden2 2s ease forwards;
}

@keyframes hiden2 {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header-nav-description :nth-child(2) {
  transform: translateX(-100px);
  animation: hiden3 2s ease forwards;
}

@keyframes hiden3 {
  from {
    opacity: 0;
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.bg-opacity {
  background: none;
}

.header-nav-description :nth-child(3) {
  transform: translateX(100px);
  animation: hiden4 2s ease forwards;
}

@keyframes hiden4 {
  from {
    opacity: 0;
    transform: translatex(100px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.section2-header {
  padding: 200px 10px 200px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.section2-header-text h1 {
  font-family: "Roboto Slab";
  font-size: 60px;
  line-height: 79.13px;
  font-weight: 300;
  color: #FFFFFF;
  animation: hiden5 2s ease forwards;
}

@keyframes hiden5 {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.section2-header-button {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.section2-header-button button {
  width: 250px;
  height: 60px;
  font-size: 18px;
  line-height: 21.09px;
  color: #FFFFFF;
  border: solid 2px #FFFFFF;
  background: rgba(255, 255, 255, 0.1019607843);
  cursor: pointer;
  transition: 0.3s;
}

.section2-header-button button:hover {
  background-color: #D66926;
}

.button1 {
  transform: translateX(-100px);
  animation: hiden6 2s ease forwards;
}

@keyframes hiden6 {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.button2 {
  transform: translateX(100px);
  animation: hiden7 2s ease forwards;
}

@keyframes hiden7 {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .bg-opacity {
    background: none;
  }
  .container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .section1-header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .section1-logo {
    transform: translateX(-100px);
    animation: hiden1 2s ease forwards;
  }
  @keyframes hiden1 {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .header-nav-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .header-nav-description :nth-child(1) {
    transform: translateY(100px);
    animation: hiden2 2s ease forwards;
  }
  @keyframes hiden2 {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .header-nav-description :nth-child(2) {
    transform: translateX(-100px);
    animation: hiden3 2s ease forwards;
  }
  @keyframes hiden3 {
    from {
      opacity: 0;
      transform: translatex(-100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  .header-nav-description :nth-child(3) {
    transform: translateX(100px);
    animation: hiden4 2s ease forwards;
  }
  @keyframes hiden4 {
    from {
      opacity: 0;
      transform: translatex(100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  .section2-header {
    padding: 90px 10px 81px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .section2-header-text h1 {
    font-family: "Roboto Slab";
    font-size: 30px;
    line-height: 79.13px;
    font-weight: 300;
    color: #FFFFFF;
    animation: hiden5 2s ease forwards;
  }
  @keyframes hiden5 {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .section2-header-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .section2-header-button button {
    width: 170px;
    height: 40px;
    font-size: 18px;
    line-height: 21.09px;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    background: rgba(255, 255, 255, 0.1019607843);
    cursor: pointer;
    transition: 0.3s;
  }
  .section2-header-button button:hover {
    background-color: #D66926;
  }
  .button1 {
    transform: translateX(-100px);
    animation: hiden6 2s ease forwards;
  }
  @keyframes hiden6 {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .button2 {
    transform: translateX(100px);
    animation: hiden7 2s ease forwards;
  }
  @keyframes hiden7 {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  header {
    background-image: url(../images/header-block.png);
    background-repeat: no-repeat;
    height: 576px;
    background-size: cover;
  }
  .bg-opacity {
    background-color: rgba(68, 89, 110, 0.1019607843);
  }
  a {
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .container {
    max-width: 599px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .section1-header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .section1-logo {
    transform: translateX(-100px);
    animation: hiden1 2s ease forwards;
  }
  @keyframes hiden1 {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .header-nav-description {
    display: none;
  }
  .mobile-navigation {
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
    right: 10px;
  }
  .nav-mobile {
    display: none;
    position: absolute;
    right: 20px;
    top: 25px;
    width: 90px;
    padding: 10px;
    transition: transform 0.3sease-in-out;
  }
  .nav-mobile-descriptions {
    padding: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #2D3651;
    border: solid 2px #FFFFFF;
    border-radius: 10px;
  }
  .checkbtn {
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    right: 0;
  }
  #check:checked ~ .nav-mobile {
    display: block;
  }
  .header-nav-description :nth-child(1) {
    transform: translateY(100px);
    animation: hiden2 2s ease forwards;
  }
  @keyframes hiden2 {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .header-nav-description :nth-child(2) {
    transform: translateX(-100px);
    animation: hiden3 2s ease forwards;
  }
  @keyframes hiden3 {
    from {
      opacity: 0;
      transform: translatex(-100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  .header-nav-description :nth-child(3) {
    transform: translateX(100px);
    animation: hiden4 2s ease forwards;
  }
  @keyframes hiden4 {
    from {
      opacity: 0;
      transform: translatex(100px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }
  .section2-header {
    padding: 150px 10px 16px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .section2-header-text h1 {
    width: 305px;
    text-align: center;
    line-height: 40px;
    font-family: "Roboto Slab";
    font-size: 30px;
    font-weight: 300;
    color: #FFFFFF;
    animation: hiden5 2s ease forwards;
  }
  @keyframes hiden5 {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .section2-header-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .section2-header-button button {
    width: 150px;
    height: 35px;
    font-size: 18px;
    line-height: 21.09px;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    background: rgba(255, 255, 255, 0.1019607843);
    cursor: pointer;
    transition: 0.3s;
  }
  .section2-header-button button:hover {
    background-color: #D66926;
  }
  .button1 {
    transform: translateX(-100px);
    animation: hiden6 2s ease forwards;
  }
  @keyframes hiden6 {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .button2 {
    transform: translateX(100px);
    animation: hiden7 2s ease forwards;
  }
  @keyframes hiden7 {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/*# sourceMappingURL=header.css.map */
