@mixin grid-child-styles($count) {
    @for $i from 1 through $count {
        div:nth-child(#{$i}) {
            grid-column: 1 / 1;
        }
    }
}

@mixin bg-image($url) {
    background-image: url(#{$url});
    background-repeat: no-repeat;
    object-fit: cover;
}

