@import './variables.scss';

@mixin grid-child-styles($count) {
    @for $i from 1 through $count {
        div:nth-child(#{$i}) {
            grid-column: 1 / 1;
        }
    }
}

@mixin bg-image($url) {
    background-image: url(#{$url});
    background-repeat: no-repeat;
    object-fit: cover;
}

@mixin text-hover($size, $line-height, $weight, $color, $family, $hover-color) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
    color: $color;
    font-family: $family, sans-serif;
    transition: color 0.3s ease;

    &:hover {
        color: $hover-color;
    }
}

@mixin placeholder-style {
    &::placeholder {
        font-family: $font-roboto;
        font-size: $text-lg;
        line-height: 39px;
        background: $color-translucent-white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: $color-white;
    }
}