@import './variables.scss';

@mixin grid-child-styles($count) {
    @for $i from 1 through $count {
        div:nth-child(#{$i}) {
            grid-column: 1 / 1;
        }
    }
}

@mixin bg-image($url) {
    background-image: url(#{$url});
    background-repeat: no-repeat;
    object-fit: cover;
}

@mixin placeholder-style { 
    &::placeholder {
        font-family: $font-family2;
        font-size: $text-lg;
        line-height: 39px;
        background: $background2;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: $color-white;
    }
}