//colors
$color-white: #FFFFFF;
$color-independence: #44596E1A;
$color-brightgray: #EEEEEE;
$color-platinum: #E5E5E5;
$color-darksilver: #707070;
$color-chocolate: #D66926;
$color-japaneseindigo: #2D3651;
$color-aurometalsaurus: #637588;
 
//font-family
$font-roboto-slab: 'Roboto Slab';
$font-roboto: 'Roboto';

//size
$text-lg: 18px;

//font-weight
$bold: 700px;

//background
$background: #FFFFFF1A;
$background2: #FFFFFF82;

//padding
$p-10: 10px;