//colors
$color-white: #FFFFFF;
$color-independence: #44596E1A;
$color-brightgray: #EEEEEE;
$color-platinum: #E5E5E5;
$color-darksilver: #707070;
$color-chocolate: #D66926;
$color-japaneseindigo: #2D3651;
$color-aurometalsaurus: #637588;

//font-family
$font-roboto-slab: 'Roboto Slab';
$font-roboto: 'Roboto';

//size
$text-lg: 18px;
$text-xl: 20px; 

//font-weight
$bold: 700;

//background
$color-translucent-blue: #2D3651CC;
$color-translucent-black: #FFFFFF1A; 
$color-translucent-white: #FFFFFF82; 
$color-dark-blue: #FFFFFF0D;

//padding
$p-10: 10px;