@import '../variables.scss';
@import '../mixin.scss';

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-block {
    position: relative;
    padding: 100px 10px 50px 10px;
    @include flex-column-center;

    span {
        width: 148px;
    }

    span:last-child {
        font-family: $font-roboto;
        font-size: 11px;
        text-align: center;
        line-height: 20px;
        font-weight: $text-lg;
        color: $color-white;
    }

    span:first-child::before {
        content: " ";
        width: 75px;
        height: 2px;
        bottom: 45px;
        left: 33px;
        background-color: $color-white;
        position: absolute;
    }

    span:first-child {
        position: relative;
        font-family: $font-roboto;
        font-size: 16px;
        text-align: center;
        line-height: 20px;
        font-weight: 100;
        color: $color-aurometalsaurus;
    }

}